<nav style="position:absolute" class="navbar navbar-toggleable-md navbar navbar-inverse bg-inverse fixed-top">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a style="padding-top:10px" class="navbar-brand" href="#">Favorite</a>
        <a style="padding-top:13px" class="nav-link nav-item active mr-auto" href="{% url 'objectslist' %}">List<span class="sr-only">(current)</span></a>
        <div class="col-md-1">
              <p><font color="#ffff00">Mr. M</font></p>
              <div class="row">
                    <a style="padding-left:15px" href="#"><font color="#ffffff">log out</font></a>
              </div>
        </div>
    </div>
</nav>